@import"../css/normalize.css";
html {
    font-size: 62.5%;
}
/* 	#7277C2 #4D4A77 	#7BC78F 	#6CB2C1 	#B1B1B1*/
/* body styling */
.grid-container{
    font-size: 1.4rem;
    font-family: 'Livvic', sans-serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "main";
}
/* header styling */
header{
    grid-area:header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #7277C2;
    color:white;
    padding:15px;
  
}
nav{
    grid-area:nav;
}
main{
    display:grid;
    grid-area:main;  
}

h3{
    text-transform:uppercase;
    font-size:1.4rem;
}
/* app name styling */
.app-name{
    font-size:1.4rem;
}
.app-name span{
    color:rgb(219, 214, 214);
    font-weight:100;
}
/* info styling which is other half of header */
.info{
    margin-left: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size:1.3rem;
}
.info > div{
    margin:0px 5px; 
}
/* bell icon styling */
.contain{
    position:relative;
}
.info img[src="icons/icon-bell.svg"]{
    border-right:2px solid black;
    padding:10px; 
    
}
.contain::after{
    content:"";
    position:absolute;
    background:#7BC78F;
    top:5px;
    right:12px;
    width:8px;
    height:8px;
    border:1px solid #7BC78F;
    border-radius:50%;
}
/* profile image styling */
.profile img{
    border:1px solid black;
    border-radius:50%;
    margin-right:5px;
    float:left;
}
.profile h3{
  float:left;
}
/* nav styling */
nav{
    background:#4D4A77 ;
   
}
nav ul{
    list-style: none;
    margin:0;
    padding:0;
    max-width:300px;
    margin:0 auto;
}
nav ul li{
    display: inline-block;
    padding:10px;
}
nav ul li:first-child{
    border-bottom:3px solid #7BC78F;
    padding-bottom:6px;
    border-radius:2%;
}
nav ul li:hover{
    border-bottom:3px solid #7BC78F;
    padding-bottom:6px;
    border-radius:2%;
}
/* main styling */
.main-header{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.headline{
    display:inline-block;
    margin:0px;
    width:10%;
    background:white;
    padding:0px 10px;
}
.main-header-search{
    width:60%;
    border:1px solid #B1B1B1;
    background:#B1B1B1;
    border-bottom-left-radius:10px;
}
.main-header-search input{
    display:block;
    margin:10px 2px 20px 10px ;
    margin-left:auto;
}
input[type="search"]{
    padding:5px 10% 5px 5px;
}
input[type="search"]::placeholder{
    text-transform: capitalize;
}
/* alert banner */
.alert-banner{
    display:flex;
    flex-direction:row;
    background:#7277C2;
    justify-content: space-between;
    align-items: center;
    margin:10px;
    padding:0px 10px;
    color:white;
    
}
.alert-banner p{
    letter-spacing:1.5px;
}
.alert-banner-close{
    margin-left:auto;
    cursor:pointer;
}
/* traffic container  */
.traffic,.daily,.mobile,.social-container,.members,.recent-activity,.message,.settings,.social-networking{
    margin:10px 0px;
    border-bottom:1px solid  #B1B1B1;
    padding:20px; 
}

.traffic-header{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
  
}
.traffic-nav{
    margin-left:auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.traffic-nav li{
    list-style-type: none;
}
.traffic-nav li a{
    text-decoration: none;
    color:black;
    padding:5px;
    margin-left:10px;
    border:1px solid transparent;
} 
.traffic-nav li a:hover{
    color:white;
    background:#7BC78F;
    border:1px solid #7BC78F;
    border-radius:10px;
}
/* widget container for charts */
.widget-container-full , .widget-container-half {
    width:95vw;
}

/* social stats styling--social networking containers */
.social{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-around;
    align-items:center;
}
.social-container,.members-container{
    flex:1 0 100px;
    border:1px solid whitesmoke;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    background: rgba(247, 245, 245, 0.507);
    padding:10px;
}

.social-image svg{
    width:60px;
    height:55px;
    padding:10px;
    color:white;
    background:#7277C2;
    border:1px solid #7277C2;
    border-radius:50%;
    margin-right:20px;
}
.social-text{
    margin:5px 0px;
}
.social-text p{
    margin:0;
    color:#7277C2;
    font-size:1.3rem;
}
.social-text p:last-child{
    font-size:3.5rem;
    color:black;
    font-weight:lighter;
}
/* members styling */
.members,.recent-activity{
    font-size:1.4rem;
   background:white;
}
.profile-image{
    width:10%;
    border:1px solid transparent;
    border-radius:50%;
    margin-right:10px;
}
.members-container{
    background: none;
    padding:5px;
    margin:10px 0px;
    border:none;
    border-bottom:1px solid whitesmoke;
}
.members-container p{
    margin-left:auto;
}

.members-text p{
    margin:0;
}
/* message user styling */
.widget-container > *{
   display: block;
   width:100%;
   margin-top:10px;
   padding:10px;
   background:rgba(247, 245, 245, 0.507);
   outline:none;
   border:1px solid rgba(182, 179, 179, 0.308);
   border-radius:5px;
}
.widget-container > *::placeholder{
    text-transform: capitalize;
    font-size:1.2rem;
    color:rgba(168, 167, 167, 0.63);
}
.widget-container textarea{
    min-height:120px;
}
.widget-container button{
    background:#7277C2;
}
button{
    cursor:pointer;
    text-transform: uppercase;
    background:#7277C2;
    color:white;
}
/* settings styling */
select{
    display: block;
    width:100%;
    margin:20px 0px;
    background:rgba(247, 245, 245, 0.507);
    outline:none;
   border:1px solid rgba(182, 179, 179, 0.308);
   border-radius:5px;
    color:rgba(168, 167, 167, 0.63);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    cursor:pointer;
}
select option{
    padding:5px;
}
.drop-down{
    position: relative;
}
.drop-down::after{
    content:"\f107";
    position: absolute;
    visibility: visible;
    font-family: FontAwesome;
    font-size: 20px;
    top:10px;
    right:5px;
    color:rgba(168, 167, 167, 0.63);
}
/* settings button styling */
.settings{
    margin:20px 0px;
}
.settings-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}
.settings-button button{
    width:45%;
    padding:10px;
    border:1px solid #4D4A77;
    border-radius:5px;
}

#cancel{
    border:none;
    border:1px solid whitesmoke;
    background:#B1B1B1;
}

/* desktop version */
/* media queries */
@media(min-width:768px){
    /* grid container styling */
    .grid-container{
        grid-template-columns: 75px 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "header header"
        "nav main";
    }
    /* main grid styling */
    main{
        grid-template-columns:50%;
    }
    .traffic,.daily,.mobile,.members,.recent-activity,.message,.settings,.social-networking{
      
        
    }
    .traffic,.social,.main-header,.social-networking,.alert{
        grid-column:1 / span 2;  
    }
    .daily,.members,.message{
        grid-column:1 / span 1;
    }
    .mobile, .recent-activity , .settings {
        grid-column:2 / span 1 ;
        margin-top:0;
    }
    .settings,.message{
        margin-bottom:10px;
    }
    .mobile,.settings,.recent-activity{
        border-left:1px solid #B1B1B1;
    }

    /* nav styling */
    nav ul li {
        margin:5px 0;
        border-left:3px solid transparent;
    }
    nav ul li:first-child{
        border-left:3px solid #7BC78F;
        border-bottom:none; 
    }
    nav ul li:hover{
        border-bottom:none;
        border-left:3px solid #7BC78F;   
    }
    /* chart widget styling */
    .widget-container-full{
        width:90vw ;
    }
    .widget-container-half {
        width:45vw ;
    }
}